body
{
    background-color: #151515;
    color: #fff;
    margin: 0;
}

.header
{
    background-color: #000;
    border-bottom: 1px solid #fec32d;
    height: 50px;
}

img
{
    padding-top: 10px;
    padding-left: 10px;
}

.container
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
}

.file-container
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 54px;
    font-family: Arial, Helvetica, sans-serif;
    flex-grow: 1;
}

.chart-container
{
    margin: 10px 10px 20px 10px;
    width: auto;
}

.wrapper
{
    display: flex;
    flex-direction: row;
}

.icon
{
    width: 40px;
    margin: 10px 20px 0px 0px;
    filter: invert(77%) sepia(93%) saturate(947%) hue-rotate(331deg) brightness(102%) contrast(106%);
}

.icon:hover
{
    cursor: pointer;
    filter: invert(100%) sepia(70%) saturate(2332%) hue-rotate(333deg) brightness(114%) contrast(99%);
}

.item
{
    background-color: #151515;
    text-align: left;
    margin: 10px;
    display: none;
}

.file-upload
{
    background-color: #000;
    border: 1px solid #fec32d;
    padding: 5px;
    cursor: pointer;
    color: #fff;
    margin: 0 15px 15px 0;
}

input[type="file"] {
    display: none;
}

@media only screen and (max-width: 600px) {
    .chart-container {
        margin: 10px 0px 20px 0px;
        height: 60vh;
        width: auto;
    }
}